html, body {
    height: 100%;
}

#nav-menu-items a:focus {
    outline: none!important;
    outline-offset: 0!important;
    text-decoration: none;
}

.btn {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    margin-bottom: 0;
    border: 1px solid #f0f0f0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-image: none !important;
    color: #626262;
    background-color: #ffffff;
    text-shadow: none;
    box-shadow: none;
    line-height: 21px;
    padding: 10px 17px;
    position: relative;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}

.btn:hover {
    background-color: #fafafa;
    border: 1px solid rgba(98, 98, 98, 0.27);
}

.btn.active {
    border-color: #e6e6e6;
    background: #fff;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
    outline-style: none;
}

.btn .caret {
    margin-left: 3px;
}

.btn .caret.single {
    margin-left: 0px;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    box-shadow: none;
}

button:focus {
    outline: none !important;
}

.btn-black, .btn-black:focus {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.btn-black.active, .btn-black:active, .btn-black.active:focus, .btn-black:active:focus, .btn-black:active:hover, .open .dropdown-toggle.btn-black {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

.btn-black.hover, .btn-black:hover, .open .dropdown-toggle.btn-black {
    background-color: #333333;
    border-color: #333333;
    color: #ffffff;
}

.btn-black.active:hover {
    background: #000000;
    border-color: #000000;
}

.btn-black.disabled, .btn-black[disabled], fieldset[disabled] .btn-black, .btn-black.disabled:hover, .btn-black[disabled]:hover, fieldset[disabled] .btn-black:hover, .btn-black.disabled:focus, .btn-black[disabled]:focus, fieldset[disabled] .btn-black:focus, .btn-black.disabled:active, .btn-black[disabled]:active, fieldset[disabled] .btn-black:active, .btn-black.disabled.active, .btn-black[disabled].active, fieldset[disabled] .btn-black.active {
    background-color: #000000;
    border-color: #000000;
}

.btn-black .badge {
    color: #000000;
    background-color: #ffffff;
}

.btn-primary, .btn-primary:focus {
    color: #ffffff;
    background-color: #6d5cae;
    border-color: #6d5cae;
}

.btn-primary.active, .btn-primary:active, .btn-primary.active:focus, .btn-primary:active:focus, .btn-primary:active:hover, .open .dropdown-toggle.btn-primary {
    background-color: #584b8d;
    border-color: #584b8d;
    color: #ffffff;
}

.btn-primary.hover, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    background-color: #8a7dbe;
    border-color: #8a7dbe;
    color: #ffffff;
}

.btn-primary.active:hover {
    background: #5e4f96;
    border-color: #5e4f96;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #6d5cae;
    border-color: #6d5cae;
}

.btn-primary .badge {
    color: #6d5cae;
    background-color: #ffffff;
}

.btn-success, .btn-success:focus {
    color: #ffffff;
    background-color: #10cfbd;
    border-color: #10cfbd;
}

.btn-success.active, .btn-success:active, .btn-success.active:focus, .btn-success:active:focus, .btn-success:active:hover, .open .dropdown-toggle.btn-success {
    background-color: #0da899;
    border-color: #0da899;
    color: #ffffff;
}

.btn-success.hover, .btn-success:hover, .open .dropdown-toggle.btn-success {
    background-color: #40d9ca;
    border-color: #40d9ca;
    color: #ffffff;
}

.btn-success.active:hover {
    background: #0eb2a3;
    border-color: #0eb2a3;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background-color: #10cfbd;
    border-color: #10cfbd;
}

.btn-success .badge {
    color: #10cfbd;
    background-color: #ffffff;
}

.btn-complete, .btn-complete:focus {
    color: #ffffff;
    background-color: #48b0f7;
    border-color: #48b0f7;
}

.btn-complete.active, .btn-complete:active, .btn-complete.active:focus, .btn-complete:active:focus, .btn-complete:active:hover, .open .dropdown-toggle.btn-complete {
    background-color: #3a8fc8;
    border-color: #3a8fc8;
    color: #ffffff;
}

.btn-complete.hover, .btn-complete:hover, .open .dropdown-toggle.btn-complete {
    background-color: #6dc0f9;
    border-color: #6dc0f9;
    color: #ffffff;
}

.btn-complete.active:hover {
    background: #3e97d4;
    border-color: #3e97d4;
}

.btn-complete.disabled, .btn-complete[disabled], fieldset[disabled] .btn-complete, .btn-complete.disabled:hover, .btn-complete[disabled]:hover, fieldset[disabled] .btn-complete:hover, .btn-complete.disabled:focus, .btn-complete[disabled]:focus, fieldset[disabled] .btn-complete:focus, .btn-complete.disabled:active, .btn-complete[disabled]:active, fieldset[disabled] .btn-complete:active, .btn-complete.disabled.active, .btn-complete[disabled].active, fieldset[disabled] .btn-complete.active {
    background-color: #48b0f7;
    border-color: #48b0f7;
}

.btn-complete .badge {
    color: #48b0f7;
    background-color: #ffffff;
}

.btn-info, .btn-info:focus {
    color: #ffffff;
    background-color: #3b4752;
    border-color: #3b4752;
}

.btn-info.active, .btn-info:active, .btn-info.active:focus, .btn-info:active:focus, .btn-info:active:hover, .open .dropdown-toggle.btn-info {
    background-color: #303a42;
    border-color: #303a42;
    color: #ffffff;
}

.btn-info.hover, .btn-info:hover, .open .dropdown-toggle.btn-info {
    background-color: #626c75;
    border-color: #626c75;
    color: #ffffff;
}

.btn-info.active:hover {
    background: #333d47;
    border-color: #333d47;
}

.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
    background-color: #3b4752;
    border-color: #3b4752;
}

.btn-info .badge {
    color: #3b4752;
    background-color: #ffffff;
}

.btn-warning, .btn-warning:focus {
    color: #ffffff;
    background-color: #f8d053;
    border-color: #f8d053;
}

.btn-warning.active, .btn-warning:active, .btn-warning.active:focus, .btn-warning:active:focus, .btn-warning:active:hover, .open .dropdown-toggle.btn-warning {
    background-color: #c9a843;
    border-color: #c9a843;
    color: #ffffff;
}

.btn-warning.hover, .btn-warning:hover, .open .dropdown-toggle.btn-warning {
    background-color: #f9d975;
    border-color: #f9d975;
    color: #ffffff;
}

.btn-warning.active:hover {
    background: #d5b347;
    border-color: #d5b347;
}

.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
    background-color: #f8d053;
    border-color: #f8d053;
}

.btn-warning .badge {
    color: #f8d053;
    background-color: #ffffff;
}

.btn-danger, .btn-danger:focus {
    color: #ffffff;
    background-color: #f55753;
    border-color: #f55753;
}

.btn-danger.active, .btn-danger:active, .btn-danger.active:focus, .btn-danger:active:focus, .btn-danger:active:hover, .open .dropdown-toggle.btn-danger {
    background-color: #c64643;
    border-color: #c64643;
    color: #ffffff;
}

.btn-danger.hover, .btn-danger:hover, .open .dropdown-toggle.btn-danger {
    background-color: #f77975;
    border-color: #f77975;
    color: #ffffff;
}

.btn-danger.active:hover {
    background: #d34b47;
    border-color: #d34b47;
}

.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
    background-color: #f55753;
    border-color: #f55753;
}

.btn-danger .badge {
    color: #f55753;
    background-color: #ffffff;
}

.btn-default, .btn-default:focus {
    color: #5e5e5e;
    background-color: #ffffff;
    border-color: #f0f0f0;
}

.btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default:active:hover {
    background-color: #f0f0f0;
    border-color: #e6e6e6;
    color: #2c2c2c;
}

.btn-default.hover, .btn-default:hover {
    background-color: #fafafa;
    border-color: rgba(98, 98, 98, 0.27);
    color: #1a1a1a;
}

.btn-default.active:hover {
    background: #f0f0f0;
}

.btn-link {
    color: #6dc0f9;
    background-color: transparent;
    border: none;
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .btn-link.disabled, .btn-link[disabled] {
    background-color: transparent;
    border: none;
    text-decoration: none;
    outline: none;
}

.btn-lg, .btn-group-lg > .btn {
    padding-left: 28px;
    padding-right: 28px;
    line-height: 23px;
}

.btn-sm, .btn-group-sm > .btn {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 11.9px;
    line-height: 20px;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 2px 9px;
    font-size: 10.5px;
}

.btn-cons {
    margin-right: 5px;
    min-width: 120px;
}

.btn-rounded {
    border-radius: 100px;
}

.btn-bordered {
    background-color: transparent;
    border-width: 2px;
    border-color: #ffffff;
    color: #ffffff;
}

.btn-bordered:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #000000;
}

.btn-bordered.btn-primary {
    background-color: transparent;
    border-color: #6d5cae;
    color: #6d5cae;
}

.btn-bordered.btn-primary:hover {
    background-color: #6d5cae;
    color: #ffffff;
}

.btn-bordered.btn-success {
    background-color: transparent;
    border-color: #10cfbd;
    color: #10cfbd;
}

.btn-bordered.btn-success:hover {
    background-color: #10cfbd;
    color: #ffffff;
}

.btn-bordered.btn-complete {
    background-color: transparent;
    border-color: #48b0f7;
    color: #48b0f7;
}

.btn-bordered.btn-complete:hover {
    background-color: #48b0f7;
    color: #ffffff;
}

.btn-bordered.btn-info {
    background-color: transparent;
    border-color: #3b4752;
    color: #3b4752;
}

.btn-bordered.btn-info:hover {
    background-color: #3b4752;
    color: #ffffff;
}

.btn-bordered.btn-warning {
    background-color: transparent;
    border-color: #f8d053;
    color: #f8d053;
}

.btn-bordered.btn-warning:hover {
    background-color: #f8d053;
    color: #ffffff;
}

.btn-bordered.btn-danger {
    background-color: transparent;
    border-color: #f55753;
    color: #f55753;
}

.btn-bordered.btn-danger:hover {
    background-color: #f55753;
    color: #ffffff;
}

.btn-bordered.btn-black {
    background-color: transparent;
    border-color: #000000;
    color: #000000;
}

.btn-bordered.btn-black:hover {
    background-color: #000000;
    color: #ffffff;
}

.btn-bordered.btn-white {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

.btn-bordered.btn-white:hover {
    background-color: #ffffff;
    color: #000000;
}

.btn-group.open .dropdown-toggle, .open .dropdown-toggle, .open.dropdown-default .dropdown-toggle {
    box-shadow: none;
}

.btn-animated {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.btn-animated > span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.btn-animated:before {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 2.5;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-animated:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-animated.from-top:before {
    left: 0;
    top: -100%;
}

.btn-animated.from-top:hover:before, .btn-animated.from-top.show-icon:before {
    top: 0;
}

.btn-animated.from-top:hover > span, .btn-animated.from-top.show-icon > span {
    -webkit-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}

.btn-animated.from-left:before {
    left: -100%;
    top: 0;
}

.btn-animated.from-left:hover:before, .btn-animated.from-left.show-icon:before {
    left: 0;
}

.btn-animated.from-left:hover > span, .btn-animated.from-left.show-icon > span {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
}

.btn-animated.fa:before {
    font-family: FontAwesome;
}

.btn-animated.pg:before {
    font-family: "pages-icon";
}

.btn-tag {
    line-height: 17px;
    border-radius: 17px 3px 3px 17px;
    padding: 5px 19px;
}

.btn-tag:hover, .btn-tag.hover {
    border-color: transparent;
}

.btn-tag.btn-tag-light {
    background: #fafdff;
    color: #5b8ca5;
    border: 1px solid #cbe4f0;
}

.btn-tag.btn-tag-light:hover {
    background: #fff;
}

.btn-tag.btn-tag-dark {
    background: #e6e6e6;
    color: #626262;
}

.btn-tag.btn-tag-dark:hover {
    background: #ebebeb;
}

.btn-tag.btn-tag-rounded {
    border-radius: 17px;
}

label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

input[type="radio"], input[type="checkbox"] {
    margin-top: 1px;
    line-height: normal;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

select[multiple], select[size] {
    height: auto !important;
}

input:focus, select:focus, textarea:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form legend {
    margin: 15px 0px 10px 0px;
}

.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    font-family: Arial, sans-serif;
    -webkit-appearance: none;
    color: #2c2c2c;
    outline: 0;
    height: 35px;
    padding: 9px 12px;
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    min-height: 35px;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
}

.form-control:focus {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus::-moz-placeholder {
    color: inherit;
    opacity: 0.7;
}

.form-control:focus:-ms-input-placeholder {
    color: inherit;
    opacity: 0.7;
}

.form-control:focus::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.7;
}

.form-control::-moz-placeholder {
    color: inherit;
    opacity: 0.33;
}

.form-control:-ms-input-placeholder {
    color: inherit;
    opacity: 0.33;
}

.form-control::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.33;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: #f8f8f8;
    color: rgba(98, 98, 98, 0.23);
}

.input-sm, .form-horizontal .form-group-sm .form-control {
    font-size: 13px;
    min-height: 32px;
    height: 32px;
    padding: 8px 9px;
}

.input-lg, .form-horizontal .form-group-lg .form-control {
    border-radius: 3px;
    font-size: 18px;
    height: 45px;
    padding: 11px 13px;
}

.input-xlg {
    height: 51px;
    font-size: 18px;
    line-height: 22px;
}

.radio, .checkbox {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0px;
}

.radio label, .checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px !important;
    margin-right: 15px;
    font-size: 13px;
}

.radio label:before, .checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0px;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
}

.radio label {
    margin-bottom: 6px;
}

.radio label:before {
    bottom: 2.5px;
    border-radius: 99px;
    -webkit-transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
}

.radio input[type=radio]:checked + label:before {
    border-width: 5px;
}

.radio input[type=radio] {
    display: none;
}

.radio input[type=radio][disabled] + label {
    opacity: 0.65;
}

.radio.radio-success input[type=radio]:checked + label:before {
    border-color: #10cfbd;
}

.radio.radio-primary input[type=radio]:checked + label:before {
    border-color: #6d5cae;
}

.radio.radio-info input[type=radio]:checked + label:before {
    border-color: #3b4752;
}

.radio.radio-warning input[type=radio]:checked + label:before {
    border-color: #f8d053;
}

.radio.radio-danger input[type=radio]:checked + label:before {
    border-color: #f55753;
}

.radio.radio-complete input[type=radio]:checked + label:before {
    border-color: #48b0f7;
}

.checkbox input[type=radio][disabled] + label:after {
    background-color: #e6e6e6;
}

.checkbox label {
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
    white-space: nowrap;
}

.checkbox label:before {
    top: 2px;
    border-radius: 3px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
}

.checkbox label::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 1.2px;
    top: 0px;
    font-size: 11px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
}

.checkbox label:after {
    border-radius: 3px;
}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox.checkbox-circle label:after {
    border-radius: 99px;
}

.checkbox.checkbox-circle label:before {
    border-radius: 99px;
}

.checkbox input[type=checkbox]:checked + label:before {
    border-width: 8px;
}

.checkbox input[type=checkbox]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\F00C";
    color: #fff;
}

.checkbox input[type=checkbox][disabled] + label {
    opacity: 0.65;
}

.checkbox input[type=checkbox][disabled] + label:before {
    background-color: #eceff3;
}

.checkbox.right label {
    margin-right: 35px;
    padding-left: 0 !important;
}

.checkbox.right label:before {
    right: -35px;
    left: auto;
}

.checkbox.right input[type=checkbox]:checked + label {
    position: relative;
}

.checkbox.right input[type=checkbox]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\F00C";
    position: absolute;
    right: -27px;
    left: auto;
}

.checkbox.check-success input[type=checkbox]:checked + label:before {
    border-color: #10cfbd;
}

.checkbox.check-primary input[type=checkbox]:checked + label:before {
    border-color: #6d5cae;
}

.checkbox.check-complete input[type=checkbox]:checked + label:before {
    border-color: #48b0f7;
}

.checkbox.check-warning input[type=checkbox]:checked + label:before {
    border-color: #f8d053;
}

.checkbox.check-danger input[type=checkbox]:checked + label:before {
    border-color: #f55753;
}

.checkbox.check-info input[type=checkbox]:checked + label:before {
    border-color: #3b4752;
}

.checkbox.check-success input[type=checkbox]:checked + label::after, .checkbox.check-primary input[type=checkbox]:checked + label::after, .checkbox.check-complete input[type=checkbox]:checked + label::after, .checkbox.check-warning input[type=checkbox]:checked + label::after, .checkbox.check-danger input[type=checkbox]:checked + label::after, .checkbox.check-info input[type=checkbox]:checked + label::after {
    color: #ffffff;
}

button, a, p {
    font-family: 'Muli', sans-serif;
}

#nav-menu {
    top: 0;
    z-index: 150;
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: #01579B;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
    transition: background ease 0.3s;
}

#nav-menu.transparent {
    background-color: transparent;
    box-shadow: none;
}

.transparent {
    background-color: transparent;
}

#nav-menu-items {
    height: 65px;
    list-style: none;
    position: absolute;
    right: 15px;
    display: inline-table;
    font-size: 17px;
    text-transform: uppercase;

}

#nav-menu-items li {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}

#nav-menu-items li a {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    transition: none;
}

#nav-menu-items li a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
    text-decoration: none;
}

#nav-menu-brand {
    position: absolute;
    left: 15px;
    height: 65px;
}

#nav-menu-brand img {
    margin-top: 7px;
    height: 50px;
}

#main-banner {
    position: relative; /* needed for footer positioning*/
    height: auto !important; /* real browsers */
    min-height: 100%; /* real browsers */
    max-height: 100%;
}

.background-img {
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

.banner-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(50% - 110px);
    text-align: center;
}

.banner-buttons a:first-child {
    margin-right: 15px;
}

.banner-text p.callout {
    font-size: 40px;
    color: #fff;
    margin-bottom: 50px;
}

.banner-buttons .btn-success {
    border: 3px solid #00C853;
    width: 225px;
    margin-left: calc(50% - 113px);
    margin-right: 0;
}

.banner-buttons .btn-success:hover, .banner-buttons .btn-success:active, .banner-buttons .btn-success:focus {
    background: #00C853;
}

@media (max-width: 900px ) {
    .banner-content {
        top: calc(50% - 140px);
        bottom: auto;
        font-size: 15px;
    }

    #como-funciona .btn-complete {
        margin-bottom: 15px;
    }

    .how-list li .text {
        width: 100% !important;
    }

    #mensalidade .btn-success, #mensalidade .btn-complete {
        margin-bottom: 15px;
    }

    .banner-buttons a:first-child {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .banner-text p.callout {
        font-size: 35px !important;
    }
}

.btn {
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    outline: none !important;
    text-decoration: none !important;
}

.btn-acessar:hover, .btn-acessar:active, .btn-acessar:focus {
    border: 2px solid #48b0f7 !important;
    outline: none !important;
    text-decoration: none !important;
}

.btn-acessar:hover span {
    color: #48b0f7;
}

.btn-acessar span {
    color: #179bf5;
    transition: color ease 0.3s !important;
}

.btn-acessar {
    background-color: transparent;
    border: 2px solid #179bf5;
    padding: 8px 8px;
    border-radius: 5px;
    transition: border ease 0.3s !important;
}

.btn-registrar:hover, .btn-registrar:active, .btn-registrar:focus {
    border: 2px solid #f8d053 !important;
    outline: none !important;
    text-decoration: none !important;
}

.btn-registrar:hover span {
    color: #f8d053;
}

.btn-registrar span {
    color: #00C853;
    transition: color ease 0.3s !important;
}

.btn-registrar {
    background-color: transparent;
    border: 2px solid #00C853;
    padding: 8px 8px;
    border-radius: 5px;
    transition: border ease 0.3s !important;
}

.btn-lg {
    padding: 16px 22px;
    font-size: 16px;
    border-width: 3px;
}

.btn-lg:hover, .btn-lg:active, .btn-lg:focus {
    border-width: 3px;
}

.section {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

#como-funciona {
    background-color: #fff;
    padding-bottom: 25px;
}

.container {
    margin-bottom: 25px;
}

.how-list li {
    list-style: none;
    position: relative;
    display: block;
}

.how-list .fa-4x {
    margin-top: 51px;
    display: inline-block;
    background-color: #48b0f7;
    border-color: #48b0f7;
    width: 90px;
    height: 90px;
    line-height: 90px;
    color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    float: left;
    transition: transform .8s ease-in-out;
}

.how-list li:hover .fa-4x {
    transform: rotate(360deg);
}

.how-list li .text {
    display: inline-block;
    float: left;
    width: calc(100% - 90px);
    padding-right: 15px;
    color: #01579B;
}

.how-list li .text p {
    font-size: 15px;
    font-family: 'Muli', sans-serif;
}

.how-list li .text h2 {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #48b0f7;
}

.section h1 {
    font-family: 'Muli', sans-serif;
    text-align: center;
    padding: 25px;
    margin: 25px;
    color: #48b0f7;
}

.section h1:after {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) !important;
    height: 1px;
    border: 0;

}

.img-holder img {
    position: absolute;
    left: 0;
}

.how-list .fa-circle {
    margin-right: 15px;
}

#mensalidade {
    overflow: hidden;
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/banner-simular.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mensalidade p {
    color: #fff;
}

.background-img {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

#mensalidade h1 {
    color: #fff;
}

#mensalidade h3 {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-bottom: 65px;
    margin-top: -25px;
}

#mensalidade form {
    padding: 15px;
    font-family: 'Muli', sans-serif;
    background-color:transparent;
}

#mensalidade form label {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    margin: 0;
}

#mensalidade form label span {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #4FC3F7;
}

#mensalidade form input {
    padding: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #B3E5FC;
    border-radius: 0px;
    font-weight: bold;
    transition: all ease-in 0.32s;
}

#mensalidade form input:focus, #mensalidade form input:active {
    border-color: #4FC3F7;
    background-color: transparent;
    color: #4FC3F7;

}

#mensalidade-box {
    padding: 15px;
    color: #01579B;
    border-radius: 25px;
    font-family: 'Muli', sans-serif;
    background-color: transparent;
}

#mensalidade-box h2 {
    font-family: 'Muli', sans-serif;
    font-size: 26px;
    color: #48b0f7;
}

#valor-mensalidade, #valor-economia {
    line-height: 0.7;
    font-weight: bold;
    font-size: 42px;
    font-family: 'Muli', sans-serif;
}

#valor-mensalidade {
    margin-bottom: 35px;
    color: #01579B;
}

#valor-economia {
    color: #00E676;
}

#valor-mensalidade span, #valor-economia span {
    font-size: 75px;
    font-weight: normal;
}

#modal-simulate #valor-mensalidade span, #modal-simulate #valor-economia span {
    font-size: 50px;
}

#modal-simulate .by-year {
    margin-left: 75%;
    margin-bottom: 25px;
}

#modal-simulate #valor-mensalidade {
    color: #01579B;
}

#modal-simulate {
    background-color: transparent;
}

#modal-simulate .modal-footer {
    text-align: center;
}

#mensalidade-box .by-year {
    color: #00E676;
    font-weight: bold;
    margin-left: 80%;
    margin-bottom: 15px;
    margin-top: 10px;
}

#duvidas {
    background-color: #fff;
}

#duvidas .col-xs-12 {
    z-index: 1;
}

.section h3 {
    font-family: 'Muli', sans-serif;
    text-align: center;
    margin-bottom: 60px;
    font-size: 18px;
    color: #48b0f7;
    margin-top: -25px;
}

#duvidas .background-img {
    width: 50%;
    height: auto;
    min-width: auto;
    min-height: auto;
    position: absolute;
}

.panel.panel-default {
    border: none;
    font-family: 'Muli', sans-serif;
    box-shadow: none;
    background: transparent;
}

.panel.panel-default .panel-heading {
    border-radius: 10px;
    padding: 20px 15px;
    background-color: #2196F3;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
    font-size: 15px;
    color: #01579B;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.panel.panel-default:hover .panel-heading {
    background-color: #1976D2;
}

.panel.panel-default .panel-heading[aria-expanded=true] {
    background-color: #1976D2;
}

.panel-group {
    background-color: transparent;
    width: 100%;
}

.section div.img {
    padding: 0;
}

.section div.faq {
    padding: 20px 0 0 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#duvidas .col-xs-12:first-child {
    background-color: #2196F3;
}

#duvidas .col-xs-12 > h1, #duvidas .col-xs-12 > h3 {
    color: #fff;
}

#contato .col-xs-12 {
    color: #01579B;
    z-index: 1;
}

#contato .col-xs-12 h1, #contato .col-xs-12 h3 {
    color: #01579B;
}

#contato img {
    top: -193px;
    bottom: auto;
}

#contato {
    background-color: rgba(251, 252, 254, 0.5);
}

.form {
    color: #01579B;
    padding: 15px;
    font-family: 'Muli', sans-serif;
    background-color: transparent;
}

.form .form-group {
    border: 1px solid #4FC3F7;
    border-radius: 5px;
    transition: ease 0.3s;
}

.form label {
    font-size: 15px;
    padding: 5px 10px 0px;
    font-weight: bold;
}

.form [type="checkbox"] + label {
    padding: 0;
    margin-left: 5px;
    margin-bottom: 20px;
}

.form input.form-control, form textarea.form-control {
    color: #4FC3F7;
    background-color: transparent;
    padding: 0px 10px 10px;
    border: none;
    border-radius: 5px;
    transition: all ease-in 0.32s;
}

.form textarea.form-control {
    padding: 10px;
    height: 80px;
}

.form .form-control:focus {
    background: transparent;
}

.form .form-group.focused {
    border-color: #01579B;
}

.form .form-group:focus, .form .form-group:active, .form .form-group:focus, .form .form-group:active {
    border-color: #01579B;
    background-color: transparent;
}

#contato .form .form-group {
    border-color: #01579B;
    background-color: #fff;
}

#contato .form .form-group:focus, #contato .form .form-group:active, #contato .form .form-group:focus, #contato .form .form-group:active {
    border-color: #01579B;
    background-color: #fff;
    color: #01579B;
}

#contato h3 {
    margin-bottom: 0;
}

#contato .background-img {
    top: 0;
    bottom: auto;
    height: 100%;
    min-width: 0;
    left: auto;
    right: 0;
    z-index: -1;
}

#contato .container {
    margin-bottom: 0;
}

#como-funciona .img-holder img {
    left: 55px;
}

#contato > div > div:nth-child(4) > div:nth-child(1) {
    background: #61a657;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
}

#contato a.whatsapp {
    color: #fff;
    font-size: 20px;
    display: block;
}

#contato a.whatsapp div,
#contato a.facebook div {
    float: left;
}

#contato a.whatsapp img,
#contato a.facebook img {
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    filter: brightness(1000%);
}

#contato a.facebook {
    font-size: 20px;
    display: block;
    margin: 25px 0 25px;
}

#contato .whatsapp img {
    margin-right: 15px;
}

a {
    transition: all ease 0.3s;
}

#contato .whatsapp:hover, #contato .whatsapp:focus, #contato .whatsapp:active, #contato .facebook:hover, #contato .facebook:focus, #contato .facebook:active {
    text-decoration: none;
}

.fb-page {
    margin-top: 25px;
}

#contato h3 {
    margin-bottom: 20px;
}

.modal {
    color: #48b0f7;
}

.modal-header {
    text-align: center;
    border: none;
    padding: 25px 0 5px;

}

h4.modal-title {
    font-size: 22px !important;
}

.modal-body {
    padding: 0 15px;
}

.modal-footer {
    border: none;
    padding: 0px 25px 10px;
}

form .alert[role=alert] {
    display: none;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
}

.radio label:before, .checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0px;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
}

.checkbox label:before {
    top: 1.4px;
    border-radius: 3px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
}

.checkbox.checkbox-circle label:before {
    border-radius: 99px;
}

.checkbox input[type=checkbox]:checked + label:before {
    border-width: 8.5px;
}

.checkbox.check-primary input[type=checkbox]:checked + label:before {
    border-color: #6d5cae;
}

.checkbox label::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 3.2px;
    top: 0px;
    font-size: 11px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
}

.checkbox label:after {
    border-radius: 3px;
}

.checkbox.checkbox-circle label:after {
    border-radius: 99px;
}

.checkbox input[type=checkbox]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\F00C";
    color: #fff;
}

.checkbox.check-success input[type=checkbox]:checked + label::after, .checkbox.check-primary input[type=checkbox]:checked + label::after, .checkbox.check-complete input[type=checkbox]:checked + label::after, .checkbox.check-warning input[type=checkbox]:checked + label::after, .checkbox.check-danger input[type=checkbox]:checked + label::after, .checkbox.check-info input[type=checkbox]:checked + label::after {
    color: #ffffff;
}

#modal-forgot .success {
    display: none;
    padding: 10px;
}

section#password {
    padding-top: 80px;
    background-color: #2b669a;
}

section#password h1 {
    color: #fff;
}

section#password .form-group {
    background-color: #fff;
}

#modal-forgot .success .alert {
    margin: 15px;
}

.btn-chat {
    padding: 15px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    background-color: #039BE5;
    transition: all ease 0.15s;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 1500;
}

.btn-chat:hover, .btn-chat:active, .btn-chat:focus {
    background-color: #0277BD;
    border: none;
    color: #fff;
}

#chat-window {
    border: 2px solid #0277BD;
    border-radius: 5px;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    position: fixed;
    display: none;
    background-color: #fff;
    width: 300px;
    height: 400px;
    z-index: 500000;
}

#chat-window .message-box {
    height: 250px;
    border: 1px solid #c0c0c0;
    margin-bottom: 10px;
    overflow: auto;
}

#chat-window .user-input textarea {
    border: 1px solid #c0c0c0;
    height: 75px;
}

#chat-window .user-input .btn {
    margin-top: 10px;
    font-size: 14px;
    padding: 7px;
}

#messages {
    display: none;
}

#messages .message {
    padding: 5px;
    margin: 10px 30px 10px 10px;
    border: 1px solid #f1f1f1;
    background-color: #BDBDBD;
    color: #fff;
    font-size: 13px;
}

#messages .message .nome {
    font-weight: bold;
}

#messages .message.from-admin {
    margin: 10px 10px 10px 30px;
    background-color: #2196F3;
}

#information textarea {
    height: 65px;
}

.form textarea.form-control {
    padding-top: 0px !important;
    margin-top: 0px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(25, 118, 210, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(187, 222, 251, 0.1);
}

#noticias {
    background: #222;
}

#noticias h1 {
    color: #fff;
}

#noticias .hidden-xs .destaque {
    width: 66.6%;
    height: 400px;
    float: left;
    overflow: hidden;
    position: relative;
    border: 5px solid transparent;
}

#noticias .hidden-xs .destaque img {
    min-height: 400px;
    min-width: 100%;
}

#noticias .hidden-xs .normal {
    width: 33.3%;
    height: 200px;
    float: left;
    overflow: hidden;
    position: relative;
    border: 5px solid transparent;
}

#noticias .visible-xs .normal{
    height: 200px;
    overflow: hidden;
    position: relative;
    border: 5px solid transparent;
}

#noticias .hidden-xs .normal ~ .normal {
    margin-bottom: 0px;
}

#noticias .hidden-xs .normal img {
    min-height: 200px;
    min-width: 100%;
}

#noticias .hidden-xs .destaque .title {
    position: absolute;
    bottom: 30px;
    right: 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    font-size: 35px;
}

#noticias .hidden-xs .normal .title {
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    font-size: 20px;
}

#noticias .visible-xs .normal .title {
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    font-size: 20px;
}

#noticias .hidden-xs .normal a img, #noticias .hidden-xs .destaque a img {
    opacity: 0.7;
    transition: all 0.2s ease-out;
}

#noticias .hidden-xs .normal a:hover img, #noticias .hidden-xs .destaque a:hover img {
    opacity: 1;
    transform: scale(1.1);
}

#noticia {
    background-color: #2b303b !important;
    padding-top: 65px;
}

#noticia h2 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

#noticia h3 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    margin-bottom: 10px;
}

#noticia .noticia h2{
    color: #333;
}

#noticia .noticia .enviado {
    font-size: 13px;
    font-weight: bold;
}

#noticia > div.noticia {
    background-color: #fff;
    padding: 5px 20px 10px;
}

#noticias .hidden-xs .normal ~ .normal {
    margin-bottom: 0px;
}

#noticia > div:first-of-type{
    padding: 5px 20px
}

#noticia{
    position: relative;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

#noticia .ultimas {
    position: relative;
    background-color: transparent;
}

#noticia .ultimas > a {
    display: block;
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 5px solid transparent;
}

#noticia .ultimas > a .title {
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    font-size: 15px;
}

#noticia .ultimas > a img {
    min-height: 200px;
    min-width: 100%;
}
#noticia .btn-block {
    margin-bottom: 15px;
    margin-top: 15px;
}

#noticia .todas {

    position: relative;
    background-color: transparent;
}

#noticia .todas > a {
    display: block;
    height: 200px;
    overflow: hidden;
    position: relative;
    border: 5px solid transparent;
}

#noticia .todas > a .title {
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    font-size: 15px;
}

#noticia .todas > a img {
    min-height: 200px;
    min-width: 100%;
}

.card{
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    padding: 15px;
    background: #fff;
}

.fa-destaque {
    background-color: transparent;
    border: 5px solid #48b0f7;
    color: #48b0f7;
    width: 90px;
    height: 90px;
    line-height: 80px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    transition: transform .8s ease-in-out;
    margin-top:10px;
    margin-bottom:10px;
}

.card:hover .fa-destaque {
    transform: rotate(360deg);
}

.card h2{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.card .btn{
    margin-top: 15px;
}