body {
    font-family: 'Muli', sans-serif;
    background-color: #F5F5F5;
}

#top-menu {
    position: fixed;
    left: 0;
    z-index: 1;
    top: 0;
    right: 0;
    height: 50px;
    background: #2b303b !important;
}

#top-menu-brand {
    padding: 8px 15px;
}

#top-menu-brand img {
    height: 35px;
}

#top-menu-items {
    height: 50px;
    list-style: none;
    position: absolute;
    right: 15px;
    display: inline-table;
    font-size: 14px;
    top: 0;
}

#top-menu-items li {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}

#top-menu-items li a {
    color: #fff;
    transition: none;
}

#top-menu-items li a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

#left-menu {
    position: fixed;
    left: 0;
    z-index: 1;
    top: 50px;
    bottom: 0;
    width: 250px;
    background: #2b303b !important;
    padding-top: 20px;
    overflow: auto;
}

#left-menu .profile {
    height: 150px;
    text-align: center;

}

#left-menu .profile a {
    transition: ease 0.3s all;
    color: #ccc;
}

#left-menu .profile a:hover, #left-menu .profile a:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
}

#left-menu .profile .profile-pic {
    border-radius: 50px;
    height: 60px;
    width: 60px;
    overflow: hidden;
    margin: 0 auto 10px;
    transition: ease 0.3s all;
    opacity: 0.7;
}

#left-menu .profile:hover .profile-pic {
    opacity: 1;
}

#left-menu .profile .profile-pic img {
    height: 60px;
}

#left-menu .profile .profile-settings {
    font-style: italic;
    font-size: 13px;
}

#left-menu ul {
    list-style: none;
    padding: 0;
    background-color: #2b303b;
}

#left-menu ul li a {
    padding: 15px;
    display: block;
    color: #ccc;
    transition: ease 0.3s all;
}

#left-menu ul li a:hover, #left-menu ul li a:active {
    color: #fff;
    text-decoration: none;
}

#left-menu ul li a i {
    font-size: 15px;
    margin-top: 2px;
    float: right;
}

#left-menu ul li > ul {
    display: none;
    background: #21252d !important;
    transition: all ease 0.3s;
}

#left-menu ul li > ul.open {
    display: block;
}

#left-menu ul li > ul li a {
    padding-left: 30px;
}

#left-menu ul a.active {
    color: #fff;
    text-decoration: none;
    background-color: #01579B;
}

#left-menu ul li a:focus {
    text-decoration: none;
}

#left-menu ul a.open {
    color: #fff;
    text-decoration: none;
}

#content {
    position: absolute;
    z-index: 2;
    left: 250px;
    top: 50px;
    overflow: auto;
}

a.shortcut {
    color: #0aa89e;
    margin-bottom: 15px;
    display: block;
    transition: all ease-in 0.1s;
}

a.shortcut h3 {
    font-size: 18px;
}

a.shortcut:hover, a.shortcut:focus {
    color: #2196f3;
    text-decoration: none;
    outline: none;
}

a.shortcut.blue:hover {
    color: #0097bc;
}

a.shortcut.green:hover {
    color: #00bf86;
}

a.shortcut.mint:hover {
    color: #0fb0c0;
}

a.shortcut.orange:hover {
    color: #ffa000;
}

a.shortcut.orange:hover .contador {
    border-color: #ffa000;
    color: #ffa000;
}

a.shortcut .contador {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 40px;
    left: 55%;
    background: #f7f7f7;
    border-radius: 25px;
    text-align: center;
    border: solid 2px #0aa89e;
    font-weight: bold;
    line-height: 22px;
}

a.shortcut.blue:hover .contador {
    border-color: #0097bc;
    color: #0097bc;
}

a.shortcut.mint:hover .contador {
    border-color: #0fb0c0;
    color: #0fb0c0;
}

.big-icon {
    font-size: 50px;
    text-align: center;
    width: 100%;
}

a.shortcut h3.text-center {
    padding: 5px !important;
    margin: 0 5px !important;
    border: 0;
}