body {
    font-family: 'Muli', sans-serif;
    background-color: #fafafa;
}

.btn {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 8px 14px;
    transition: all ease-in 0.2s;
}

.btn:focus, .btn:active {
    outline: none !important;
}

.form-group {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px 10px;
    transition: all ease-in 0.3s;
}

.form-group.focused {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.form-group label {
    margin-bottom: 0;
}

.form-group select.form-control {
    margin-left: -4px;
}

.form-group textarea.form-control {
    height: 50px;
    padding-top: 2px;
}

.form-group .form-control {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    height: 25px;
}

#top-menu {
    position: fixed;
    left: 0;
    z-index: 1;
    top: 0;
    right: 0;
    height: 50px;
    background: #2b303b !important;
}

#top-menu-brand {
    padding: 8px 15px;
}

#top-menu-brand img {
    height: 35px;
}

#top-menu-items {
    height: 50px;
    list-style: none;
    position: absolute;
    right: 15px;
    display: inline-table;
    font-size: 14px;
    top: 0;
}

#top-menu-items li {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}

#top-menu-items li a {
    color: #fff;
    transition: none;
}

#top-menu-items li a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

#left-menu {
    position: fixed;
    left: 0;
    z-index: 1;
    top: 50px;
    bottom: 0;
    width: 250px;
    background: #2b303b !important;
    padding-top: 20px;
    overflow: auto;
}

#left-menu .profile {
    height: 150px;
    text-align: center;

}

#left-menu .profile a {
    transition: ease 0.3s all;
    color: #ccc;
}

#left-menu .profile a:hover, #left-menu .profile a:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
}

#left-menu .profile .profile-pic {
    border-radius: 50px;
    height: 60px;
    width: 60px;
    overflow: hidden;
    margin: 0 auto 10px;
    transition: ease 0.3s all;
    opacity: 0.7;
}

#left-menu .profile:hover .profile-pic {
    opacity: 1;
}

#left-menu .profile .profile-pic img {
    height: 60px;
}

#left-menu .profile .profile-settings {
    font-style: italic;
    font-size: 13px;
}

#left-menu ul {
    list-style: none;
    padding: 0;
    background-color: #2b303b;
}

#left-menu ul li a {
    padding: 15px;
    display: block;
    color: #ccc;
    transition: ease 0.3s all;
}

#left-menu ul li a:hover, #left-menu ul li a:active {
    color: #fff;
    text-decoration: none;
}

#left-menu ul li a i {
    font-size: 15px;
    margin-top: 2px;
    float: right;
}

#left-menu ul li > ul {
    display: none;
    background: #21252d !important;
    transition: all ease 0.3s;
}

#left-menu ul li > ul.open {
    display: block;
}

#left-menu ul li > ul li a {
    padding-left: 30px;
}

#left-menu ul a.active {
    color: #fff;
    text-decoration: none;
    background-color: #01579B;
}

#left-menu ul li a:focus {
    text-decoration: none;
}

#left-menu ul a.open {
    color: #fff;
    text-decoration: none;
}

#content {
    position: absolute;
    z-index: 2;
    left: 260px;
    top: 50px;
    overflow: auto;
    right: 10px;
    bottom: 0;
    padding: 0 10px 15px;
}

a.shortcut {
    color: #0aa89e;
    margin-bottom: 15px;
    display: block;
    transition: all ease-in 0.1s;
}

a.shortcut h3 {
    font-size: 18px;
}

a.shortcut:hover, a.shortcut:focus {
    color: #2196f3;
    text-decoration: none;
    outline: none;
}

a.shortcut.blue:hover {
    color: #0097bc;
}

a.shortcut.green:hover {
    color: #00bf86;
}

a.shortcut.mint:hover {
    color: #0fb0c0;
}

a.shortcut.orange:hover {
    color: #ffa000;
}

a.shortcut.orange:hover .contador {
    border-color: #ffa000;
    color: #ffa000;
}

a.shortcut .contador {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 40px;
    left: 55%;
    background: #f7f7f7;
    border-radius: 25px;
    text-align: center;
    border: solid 2px #0aa89e;
    font-weight: bold;
    line-height: 22px;
}

a.shortcut.blue:hover .contador {
    border-color: #0097bc;
    color: #0097bc;
}

a.shortcut.mint:hover .contador {
    border-color: #0fb0c0;
    color: #0fb0c0;
}

.big-icon {
    font-size: 50px;
    text-align: center;
    width: 100%;
}

a.shortcut h3.text-center {
    padding: 5px !important;
    margin: 0 5px !important;
    border: 0;
}

.nav-tabs > li.active > a:after, .nav-tabs > li.active > a:before {
    border: medium solid transparent;
    content: "";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    width: 0;
    z-index: 1;
    top: 100%;
}

.nav-tabs > li.active > a:after {
    border-top-color: #1E88E5;
    border-width: 10px;
    margin-left: -10px;
}

.nav-tabs > li.active > a:before {
    border-top-color: rgba(0, 0, 0, 0.2);
    border-width: 11px;
    margin-left: -11px;
}

.nav-tabs > li > a {
    border-radius: 0;
    padding: 12px 20px;
    margin-right: 0;
    color: rgba(98, 98, 98, 0.7);
    font-size: 14px;
    min-width: 70px;
    border-color: transparent;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    overflow: visible;
    -webkit-transition: color 0.2s ease 0s;
    transition: color 0.2s ease 0s;
}

.nav-tabs > li > a > i {
    margin-right: 5px;
}

.nav-tabs > li.active > a {
    background: #1E88E5;
    box-shadow: none;
    color: #fff;
    border-color: transparent;
}

.nav-tabs > li {
    padding-left: 0;
    padding-right: 0;
}

.nav-tabs > li > a:hover {
    background-color: rgba(176, 190, 197, 0.3);
    border-color: transparent;
    color: #555;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background: transparent;
    border-color: transparent;
    color: #626262;
}

.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:active {
    background: #1E88E5;
    box-shadow: none;
    color: #fff;
    border-color: transparent;
}

.tab-content {
    background-color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-tabs:after {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    bottom: 0;
}

.nav-tabs ~ .tab-content {
    overflow: hidden;
    padding: 15px;
}

.nav-tabs {
    border-bottom: 0;
}

.alert {
    display: none;
    border-radius: 0;
}

.modal-header {
    border-bottom: 1px solid #2F3A49 !important;
    background: #2b303b !important;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold !important;
}

.alert-warning, .btn-warning {
    background-color: #FFB74D;
    border-color: #FFA726;
}

.alert-danger, .btn-danger {
    background-color: #FF8A80;
    border-color: #FF5252;
    color: #fff;
}

.alert-success, .btn-success {
    background-color: #8BC34A;
    border-color: #7CB342;
}

.btn-primary {
    background-color: #42A5F5;
    border-color: #1E88E5;
    box-shadow: none;
}


.btn:hover{
    border-radius: 0px!important;
}

.btn-warning:hover, .btn-warning.active, .btn-warning:focus, .btn-warning:active{
    background-color: #FFA726!important;;
    border-color: #FF9800!important;;
    box-shadow: none!important;;
}

.btn-danger:hover, .btn-danger.active, .btn-danger:focus, .btn-danger:active{
    background-color: #FF5252!important;;
    border-color: #EF5350!important;;
    box-shadow: none!important;;
}

.btn-success:hover, .btn-success.active, .btn-success:focus, .btn-success:active{
    background-color: #7CB342!important;;
    border-color: #689F38!important;;
    box-shadow: none!important;;
}

.btn-primary:hover, .btn-primary.active, .btn-primary:focus, .btn-primary:active{
    background-color: #1E88E5!important;
    border-color: #1976D2!important;;
    box-shadow: none!important;;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}

th.cnae-code{
    min-width: 100px;
}